<header class="header">
  <div class="logo left">
    <i id="menu" class="material-icons">menu</i>
    <img src="assets/youtube-logo.png" width="120px" height="auto">
  </div>

  <div class="search center">
    <form action="">
      <input type="text" placeholder="Search" />
      <button><i class="material-icons">search</i></button>
    </form>
    <i class="material-icons mic">mic</i>
  </div>

  <div class="icons right">
    <i class="material-icons">videocam</i>
    <i class="material-icons">apps</i>
    <i class="material-icons">notifications</i>
    <i class="material-icons display-this">account_circle</i>
  </div>
</header>
<main>
  <div class="side-bar">
    <div class="nav">
      <a class="nav-link active">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">local_fire_department</i>
        <span>Trending</span>
      </a>
      <a class="nav-link">
        <i class="material-icons">subscriptions</i>
        <span>Subscriptions</span>
      </a>
    </div>
    <hr>
    <a class="nav-link">
      <i class="material-icons">library_add_check</i>
      <span>Library</span>
    </a>
    <a class="nav-link">
      <i class="material-icons">history</i>
      <span>History</span>
    </a>
    <a class="nav-link">
      <i class="material-icons">play_arrow</i>
      <span>Your Videos</span>
    </a>
    <a class="nav-link">
      <i class="material-icons">watch_later</i>
      <span>Watch Later</span>
    </a>
    <a class="nav-link">
      <i class="material-icons">thumb_up</i>
      <span>Liked Videos</span>
    </a>
  </div>
  <div class="content">
    <div class="videos">
      <!-- a video starts -->
      <ng-container *ngFor="let video of playlist; index as $index;">
        <div class="video" (click)="selectedVideo(video, $index)">
          <div class="thumbnail">
            <img [src]="video.thumbnailUrl" [alt]="video.title" />
          </div>
          <div class="details">
            <div class="author">
              <img src="assets/user-avater.png" alt="" />
            </div>
            <div class="title">
              <h3>{{video.title}}</h3>
              <a href=""> {{video.author}} </a>
              <span> {{video.views | numberSuffix}} Views • {{video.uploadTime | dateAgo}} </span>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- a video Ends -->
    </div>
  </div>
</main>


<ng-template #content let-modal>
	<div class="modal-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('close')"></button>
	</div>
	<div class="modal-body">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-controls vgFor="vid" [vgAutohide]="true" [vgAutohideTime]="5">
        <vg-play-pause vgFor="vid"></vg-play-pause>
        <vg-playback-button></vg-playback-button>
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video #media [vgMedia]="$any(media)" id="vid" preload="auto" [src]="activeVideo?.videoUrl" crossorigin>
      </video>
    </vg-player>
  </div>
</ng-template>